MIT\ Mobile.xcodeproj/*.mode1v3
MIT\ Mobile.xcodeproj/*.pbxuser
MIT\ Mobile.xcodeproj/*.perspectivev3
build
Facebook\ Connect/build
Facebook\ Connect/FBConnect.xcodeproj/*.mode1v3
Facebook\ Connect/FBConnect.xcodeproj/*.pbxuser
Facebook\ Connect/FBConnect.xcodeproj/*.perspectivev3
Common/MITBuildInfo.m
