[submodule "External/CocoaLumberjack"]
	path = External/CocoaLumberjack
	url = git://github.com/MIT-Mobile/CocoaLumberjack.git
[submodule "External/MIT-Mobile-for-iPhone-Private"]
	path = External/MIT-Mobile-for-iPhone-Private
	url = git@github.com:MIT-Mobile/MIT-Mobile-for-iPhone-Private.git
[submodule "External/PSTCollectionView"]
	path = External/PSTCollectionView
	url = git://github.com/MIT-Mobile/PSTCollectionView.git
[submodule "External/SDWebImage"]
	path = External/SDWebImage
	url = git@github.com:MIT-Mobile/SDWebImage.git
[submodule "External/SVPullToRefresh"]
	path = External/SVPullToRefresh
	url = git@github.com:MIT-Mobile/SVPullToRefresh.git
