build/
.DS_Store
*~.nib
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata/
*.xccheckout

Common/Configuration/Secret.m
Common/Secret.m
Secret.xcconfig

Resources/mit150/*.mp4

.idea/

Pods/
