[submodule "External/MIT-Mobile-for-iPhone-Private"]
	path = External/MIT-Mobile-for-iPhone-Private
	url = git@github.com:MIT-Mobile/MIT-Mobile-for-iPhone-Private.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git@github.com:TransitApp/SVProgressHUD.git
