[submodule "External/CocoaLumberjack"]
	path = External/CocoaLumberjack
	url = git://github.com/MIT-Mobile/CocoaLumberjack.git
[submodule "External/MIT-Mobile-for-iPhone-Private"]
	path = External/MIT-Mobile-for-iPhone-Private
	url = git@github.com:MIT-Mobile/MIT-Mobile-for-iPhone-Private.git
[submodule "External/SDWebImage"]
	path = External/SDWebImage
	url = git@github.com:MIT-Mobile/SDWebImage.git
[submodule "External/SVPullToRefresh"]
	path = External/SVPullToRefresh
	url = git@github.com:MIT-Mobile/SVPullToRefresh.git
[submodule "External/RestKit"]
	path = External/RestKit
	url = git@github.com:RestKit/RestKit.git
[submodule "External/ECSlidingViewController"]
	path = External/ECSlidingViewController
	url = git@github.com:ECSlidingViewController/ECSlidingViewController.git
[submodule "External/SVProgressHUD"]
	path = External/SVProgressHUD
	url = git@github.com:TransitApp/SVProgressHUD.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git@github.com:TransitApp/SVProgressHUD.git
