<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitialLocation</key>
	<dict>
		<key>Zoom</key>
		<string>2</string>
		<key>Longitude</key>
		<real>-71.094683</real>
		<key>Latitude</key>
		<real>42.359824</real>
	</dict>
	<key>MapLevels</key>
	<array>
		<dict>
			<key>level</key>
			<integer>14</integer>
			<key>minRow</key>
			<integer>6058</integer>
			<key>maxRow</key>
			<integer>6061</integer>
			<key>minCol</key>
			<integer>4953</integer>
			<key>maxCol</key>
			<integer>4959</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>15</integer>
			<key>minRow</key>
			<integer>12116</integer>
			<key>maxRow</key>
			<integer>12123</integer>
			<key>minCol</key>
			<integer>9907</integer>
			<key>maxCol</key>
			<integer>9918</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>16</integer>
			<key>minRow</key>
			<integer>24233</integer>
			<key>maxRow</key>
			<integer>24246</integer>
			<key>minCol</key>
			<integer>19815</integer>
			<key>maxCol</key>
			<integer>19836</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>17</integer>
			<key>minRow</key>
			<integer>48466</integer>
			<key>maxRow</key>
			<integer>48492</integer>
			<key>minCol</key>
			<integer>39630</integer>
			<key>maxCol</key>
			<integer>39673</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>18</integer>
			<key>minRow</key>
			<integer>96932</integer>
			<key>maxRow</key>
			<integer>96984</integer>
			<key>minCol</key>
			<integer>79260</integer>
			<key>maxCol</key>
			<integer>79346</integer>
		</dict>
	</array>
</dict>
</plist>
