<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sortOrder</key>
		<string>-1</string>
		<key>title</key>
		<string>Events</string>
		<key>listID</key>
		<string>Events</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>title</key>
		<string>Categories</string>
		<key>listID</key>
		<string>categories</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>2000</integer>
		<key>title</key>
		<string>Academic Calendar</string>
		<key>listID</key>
		<string>academic</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>3000</integer>
		<key>title</key>
		<string>Holidays</string>
		<key>listID</key>
		<string>holidays</string>
	</dict>
</array>
</plist>
